button {
	font-size: 16px;
	padding: 14px;
	color: black;
	background: yellow;
	border: 1px white;
	cursor: pointer;
}
	
button:hover {
	background-color: black;
	color: yellow;
}

.chosen {
	background-color: black;
	color: yellow;
}
	
body {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

h1{display:none;}

.wrapper{
	max-width: 800px;
	margin: 10px auto 30px;
}
